li a {
    text-decoration: none;
    font-size: 26px;
    color:black;
}
a {
  margin-left:20px;
}
h1{
  color:green;
}
li{
list-style: none;
font-size: 17px;
}

body {
    line-height:2;
}
label{
  font-size: 20px;

}
.vote{
border: none;
background-color: green;
color: white;
width: 64px;
height: 35px;
border-radius: 2px;
font-size: 17px;
margin-left: 30xp;
margin-left: 192px;
margin-top: 20px;}
